* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  height: 100%;
  background: url('bg.jpg') no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #7f469a;
  box-shadow: 0px -1px 8px 0px #444;
}

nav > div > button {
  background: #fff;
  border: none;
  padding: 10px 20px;
  color: #7f479a;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 700;
  box-shadow: 1px 1px 5px 0px #444;
  transition: background .3s cubic-bezier(0.19, 1, 0.22, 1), color .5s ease-out;
  width: 90px;
  text-align: center;
}

nav > div > button:hover {
  cursor: pointer;
  background: #7f479a;
  color: #fff;
}

#botao{
  background: #fff;
  border: none;
  padding: 10px 20px;
  color: #7f479a;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 700;
  box-shadow: 1px 1px 5px 0px #444;
  transition: background .3s cubic-bezier(0.19, 1, 0.22, 1), color .5s ease-out;
  width: 90px;
  text-align: center;
}

main {
  flex: 1 1 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}

main > h1{
  margin-top: 350px;
  margin-left: 100px;
  font-size: 50px;
  font-family: 'Ubuntu', sans-serif;
}

main > h2{
  margin-left: 100px;
  font-family: 'Droid Sans', sans-serif;
}

input{
  margin: 10px;
  border: darkgrey;
  background-color: #d9d9d9;
  border-radius: 20px;
  padding: 10px;
  width: 70%;
  margin-left: 5px;
}

.box-botao > input{
  width: 40%;
  margin-top: 10%;
}

.botao-cadastrar > input{
  width: 40%;
  margin-top: 10%;
}

.button:hover{
  cursor: pointer;
  background-color: #7f479a;
  color: #ffffff;
}


#modal{
  background-color: white;
  padding: 20px;
  text-align: center;
  width: 25%;
  position: relative;
  margin: auto;
  height: 60%;
  border-radius: 20px;
}

#modal > img{
  width: 200px;
  margin: 15px;
}

#modalCadastro{
  background-color: white;
  padding: 20px;
  text-align: center;
  width: 25%;
  position: relative;
  margin: auto;
  height: 70%;
  border-radius: 20px;
}

#modalCadastro > img{
  width: 230px;
  margin: 20px;
}


.logo-login{
  margin: 3%;
}


#fundo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba( 0, 0, 0, .4);
  display: none;
}

#fundo.visivel{
  display: flex;
}

#fechar{
  color: #7f479a;
  background: transparent;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
}
#fechar:hover{
  cursor: pointer;
}

.erro{
  border: 1px solid red;
  animation: shake 0.2s 10;
}

@keyframes shake {
  0% {
    transform: none;
  }
  33% {
    transform: translateX(-5px);
  }
  66% {
    transform: translateX(5px);
  }
  100% {
    transform: none;
  }
}


#player{
  margin: 0;
  background: rgba(0,0,0,.5);
  width: 53%;
  text-align: center;
  padding: 20px;
  display: flex;
  margin-left: 1%;
}

#player .musica {
  /*width: 100%;*/
  flex-grow: 1;
  margin: 8%;
}

#player .musica h1 {
  margin-top: 60px;
}

#player .botao-play{
  width: 60px;
  height: 60px;
  color: #fff;
  background: url(player.svg);
  background-size: cover;
  border: none;
  margin-bottom: 20px;
}

#player .player-tempo{
  display: flex;
  align-items: center;
  width: 100%;
  height: 5px;
  border-radius: 1000px;
}

#player .player-tempo span {
    padding: 10px;
}

#player .player-tempo .player-barra {
    width: 50%;
    height: inherit;
    background: #777;
    border-radius: 1000px;
    flex-grow: 1;
}

#player .player-tempo .tocado{
   content: '';
   width: 0%;
   height: inherit;
   background: #fff;
}

#player img{
  margin-top: 16%;
}

.slider{
  width: 100%;
  position: relative;
}

.slider > .controles{
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}
#anterior{
  left: 0;
  position: absolute;
}
#proximo{
  right: 0;
  position: absolute;
}
.slider-item{
  display: none;
}
.slider-item.active{
  display: block;
}


.slider > ul {
  list-style-type: none;
  width: inherit;
  padding: 0;
  margin: 0;
}

.slider > ul > li{
  width: inherit;
}

.slider > ul > li  img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
}



#playlist{
  padding: 40px;
}

#playlist ul{
  padding: 0;
  width: 45%;
  margin: 0;
}

#playlist li{
  list-style: none;
  padding-left: 50px;
  padding-top: 12px;
  padding-bottom: 12px;
  transition: 0.2s;
}

#playlist li:nth-child(odd){
  background: rgba(0,0,0,.5);
}

#playlist h1{

  margin-top: 10px;
  margin-bottom: 10px;
}

#playlist h3{
  margin: 0;
  margin-bottom: 4px;
}

#playlist li.active {
  transform: scale(1.05);
}

.container{
  display: flex;
}

form{
  margin-left: 2.5%;
  margin-top: 1.5%;
  margin-bottom: 1%;
}


.modal, .modalCadastro {
  background: white;
  padding: 20px;
  text-align: center;
  width: 220px;
  position: relative;
  border-radius: 10px;
  margin: auto;
  height: 230px; 
  
  /*transform: translate3d(-50%, -50%, 0);*/
}

.modal > img, .modalCadastro > img {
  width: 100px; 
}

#modal.visivel, #modalCadastro.visivel{
  display: block;
}

#fundo, #fundoCadastro{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .4);
  display: none;
}

#fundo.visivel, #fundoCadastro.visivel{
  display: flex;
}


#fechar, #fecharCadastro{
  color: #7f479a;
  background: transparent;
  border: none; 
  position: absolute; 
  top: 10px;
  right: 10px;
  font-size: 18px;

}


/* Adicionar a animação em quem tiver erro */
.erro{
  border: 2px solid red;
  /*chama a animacao*/
  animation: shake 0.2s 5;
}


/*ANIMACAO que treme o modal da tela quando der erro*/
@keyframes shake{
  0%{
    transform: none;
  }
  33%{
    transform: translateX(-5px); 
  }
  66%{
    transform: translateY(5px);
  }
  100%{
    transform: none;
  }
}