* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}
input[type="email"] {
  background: white;
}
body {
  font-family: sans-serif;
  height: 100vh;
  background: url('bg.jpg') no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #7f469a;
  box-shadow: 0px -1px 8px 0px #444;
}

nav > button {
  background: #fff;
  border: none;
  padding: 10px 20px;
  color: #7f479a;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 700;
  box-shadow: 1px 1px 5px 0px #444;
  transition: background .3s cubic-bezier(0.19, 1, 0.22, 1), color .5s ease-out;
}

nav > button:hover {
  cursor: pointer;
  background: #7f479a;
  color: #fff;
}

main {
  flex: 1 1 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}

#modal{
  background-color: #FFFFFF;
  width: 300px;
  height: 400px;
  display: none;
  position: relative;
  margin: auto;
  height: 400px;
  border-radius: 20px;
  /*top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  gambiarra que centraliza - necessario colocar left e top*/
}

.logo-login{
  padding: 15px 30px 10px 30px;
  margin-left: 10px;
  margin-top: 20px;
}


input{
  padding: 10px;
  margin: 10px;
  margin-top:10px;
  margin-right:10px;
  border-radius: 20px 20px;
  border: 1px solid;
  border-color: #a6a6a6;
}

.formulario{
  margin-left: 30px;
}

.button{
  background-color: #7f479a;
  color: #ffffff;
  width: 80px;
  font-size: 14px;
}

#modal.visivel{
  display: block;
}

#fundo{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .4);
  display: none;
}

#fundo.visivel{
  display: flex;
}

#botaofechar{
  color: #7f479a;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 18px;
  padding: 10px 10px 10px 10px;
  
}

#player{
  background: rgba(0,0,0,.5);
  height: 500px;
  width: 60%;
  display: flex;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 2px 3px 3px #0d0d0d;
}

figure{
  display: flex;
  flex-direction: column;
  width: 300px;
  position: relative;
  margin-top: 100px;
  margin-left: 90px;
}

h1{
  display:flex;
  margin-left: 9%; 
  margin-bottom: 1%;
  font-family: 'Play', sans-serif;
  text-align: justify;
}

.titulomusica{
  margin-top: 30%;
}

.musica{
  width: 50%;
}

.player-controls{
  margin-left: 8%;
}

.player-tempo{
  display: flex;
  align-items: center;
  margin-top: 5%;
}

.player-tempo span{
  margin: 0 8px;
}

#player{
  height: 100%;
  width: 80%;
}

button{
  background: none;
  border: none;
  display: flex;
  padding-top: 1%;
}


.player-barra{
  flex-grow: 1;
  height: 5px;
  background: #696363;
 }

 .tocado{
   height: 5px;
   background: #ffffff;
 }

.tempo-atual{
  padding-right: 10px;
  padding-top: 5px;
}

.duracao{
  padding-left: 10px;
  padding-top: 5px;
}

a{
  text-decoration: none;
}

.slider{
  width: 100%;
  position: relative;
}

.slider > ul {
  list-style-type: none;
  width: inherit;
  padding: 0;
  margin: 0;
}

.slider > ul > li {
  width: inherit;
}

.slider > ul > li > img {
  width: inherit;
}

.slider-item{
  display: none;
}

.slider-item.active{
  display: block;
}

#anterior{
  background-color: #333;
  color: #ffffff;
  font-size: 40px;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 0;
  padding: 0;
  border-radius: 100px;
}

#proximo{
  background-color: #333;
  color: #ffffff;
  font-size: 40px;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 50%;
  padding: 0;
  border-radius: 100px;
}

.pbutton{
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}


.erro{
  border: 2px solid #7f479a;
  animation: shake 0.2s;
}

@keyframes shake{
  0%{
    transform: none;
  }

  33%{
    transform: translateX(-5px);
  }

  66%{
    transform: translateX(5px);
  }

  100%{
    transform: none;
  }
}
